<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="smtp.trinug.org" />
    <add key="LogPath" value="D:\Temp\Logs\TRINUGApp.log" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
